:root {
  --color-primary: hsl(10, 79%, 65%);
  --color-secondary: hsl(186, 34%, 60%);

  /* Named colors more specifically in order to diffrenciate */
  --color-main-background: hsl(27, 66%, 92%);
  --color-chart-background: hsl(33, 100%, 98%);

  /* text colors */
  --color-text-primary: hsl(25, 47%, 15%);
  --color-text-primary-light: hsl(28, 10%, 53%);

  /* font */
  --font-size: 18px;
  --font-weight-400: 400;
  --font-weight-800: 800;

  /* sizes */
  --padding-x: 1.3rem;
  --padding-y: 1.5rem;
  --margin: 8px;
  --border-radius: 1rem;
  --gap: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: var(--font-size);
  background-color: var(--color-main-background);
}

/* Chart's top section */
.chart-container {
  color: var(--color-chart-background);
  display: grid;
  grid-gap: var(--gap);
}

.chart-top-balance {
  border-radius: var(--border-radius);
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  padding: var(--padding-x) var(--padding-y);
}

.title {
  font-size: calc(var(--font-size) - 2px);
  margin-bottom: var(--margin);
}

.balance {
  font-weight: var(--font-weight-800);
}

/* Chart */
.chart {
  background-color: var(--color-chart-background);
  color: var(--color-text-primary);
}
